.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 496;
  height: 436;
  border-width: 1px;
  border-radius: 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  font-family: "CabineGrotesk-Bold", sans-serif;
  font-size: 20px;
  border-radius: 20px;
}

.modal__form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
}
