.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-width: 1px;
  border-radius: 20px;
}

.modal_opened {
  visibility: visible;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 28px;
  border: none;
  width: 16px;
  height: 16px;
  background: transparent url("/src/assets/close.svg") center no-repeat;
  transition: visibility 0s, opacity 0.3s;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 436px;
  box-sizing: border-box;
  width: 100%;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 20px;
}

.modal__form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  border-style: solid;
  border: none;
  border-bottom: 1px solid black;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
}
