.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  height: 28px;
  width: 28px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  left: 0;
  transition: all 0.3s;
}

.toggle-switch__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 2px;
  color: #7e7e7e;
}
.toggle-switch__text_F {
  left: 10px;
}

.toggle-switch__text_C {
  right: 10px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: white;
}
