.modal__content_type_image {
  padding: 0;
  border: none;
  height: 610px;
  width: 498px;
  top: 106px;
  background-color: white;
}

.modal__image {
  height: 498px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 20px;
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  padding: 16px 20px;
  background-color: white;
}

.modal__info {
  display: flex;
  flex-direction: column;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.modal__weather {
  margin: 6px 0 0;
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.modal__delete {
  color: rgba(255, 77, 0, 1);
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal__delete_hidden {
  display: none;
}
