.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__username {
  font-size: 20px;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__avatar_none {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar__edit-button,
.sidebar__signout-button {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  cursor: pointer;
}
