@import url(./vendor/normalize.css);

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(./vendor/fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url(./vendor/fonts/CabinetGrotesk-Medium.otf);
}
